extends layout

block content
  h1= title
  p Welcome to #{title}
  <form method="POST" enctype="multipart/form-data" action="/upload_file">
    <input name="photo" type="file" placeholder="上傳文件" /><br/>
    <input name="txt" type="text" placeholder="文字" /><br/>
    <button>Upload</button>
  </form>